body{
  font-family: 'Poppins', sans-serif;
}

:root{
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}   

body, html{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}

body{
    font-size: 1.4rem;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background: var(--lighting-color);
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-between ;
}
nav ul{
    display: flex;
    gap: 1rem;
}
UL{
    list-style: none;
}
nav li{
    font-size: 1.8rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;
}
nav li:hover{
    border-bottom: 0.4rem var(--secondary-color)solid;
    transition: 0.3s ease-in-out;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
}
#hero{
    background: var(--darker-color);
    padding: 4rem 0;
    border-bottom:4px solid var(--lighting-color);

}
.hero-image img{
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
}
#hero .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-content{
    display: grid;
    place-items: center;
}
#hero h1{
    font-size: 3rem;
    font-weight: bold;
}
.hi-text{
    font-weight: bold;
    font-size: 6rem;
    color:var(--secondary-color);
}
.name-text{
    font-size: 5rem;

}
#hero h2{
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15em solid orangered;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(30, end), blink 0.7s step-end infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink{
    from,to{
        border-color: transparent;
    }
    50%{
        border-color:orangered ;
    }
}
/* project section */
#project{
    background-color: var(--darker-color);

}
#project h2{
    
    font-size: 6rem;
    text-align: center;
    margin-top: 2rem, 0;
    
}


.project-container{
   display: flex;
   flex-wrap:  wrap;
   justify-content: space-around;
   gap: 30px;
}
.grid-items{
    display: grid;
    place-items:center;
}
.card{
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
     transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    transition: 1s ease-in-out;
}
.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
.card:hover .card-content{
    background:var(--secondary-color);
    color:var(--darker-color);
    transform: translateY(0px);
}
.card-content{
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom:  -6.5rem;
    transition: 0.5s ease-in-out ;
      transform: translateY(100px);
}
.card-content h3{
    text-align: center;
}
/* contect section */
#contect{
    background: var(--dark-color);
}
#contect h2{
    font-size: 6rem;
    text-align: center;
    margin: 2rem, 0;
}
#contect .container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}
.top-contact{
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
.contect-way{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.contect-way i{
    font-size: 3rem;
}
.contect-way h3{
    font-size: 3rem;
    font-weight: bold;

} 
.bottom-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
    gap: 1rem;
    margin: 0 auto;
    max-width: 400px;
}
/* footer */
footer{
    background: var(--darker-color);
    color: white;
    font-size: 1.6rem ;
    text-align: center;
}  
/* media query in responsive */


@media (max-width:768px){
html{
        font-size: 39.9%;

    } #hero .container{
        flex-direction: column;
    }
    .hero-image{
        place-items: center;
        display: grid;
    }
}
@media (max-width:500px){
html{
        font-size: 31.9%;
    }
    #hero .container{
        flex-direction: column;
    }
    #hero h1{
        margin-top: 81px;
    }
    .hero-image{
        place-items: center;
        display: grid;
    }
    #contact .container{
        height: 50vh;
        padding-top: 1432px;
    }
}